{% extends 'main.html' %}
{% block content %}

    {#    <p>{{ fullname }}</p>#}
    {##}
    {#    <p>User Type : {{ profile.user_type }}</p>#}
    {##}
    {#    <img src="{{ profile.user_image.url }}" style="height:100px; width:100px; border-radius:50%;">#}
    {#    <a href="{% url 'update-profile' %}">Edit Profile</a>#}
    <div class="container height-100 d-flex justify-content-center align-items-center">

        <div class="card text-center" style="width: 600px;">

            <div class="py-4 p-2">

                <div>
                    <img src="{{ profile.user_image.url }}" class="rounded" width="100">
                </div>
                <div class="mt-3 d-flex flex-row justify-content-center">
                    <h5>{{ fullname }}</h5>
                    <span class="dots"><i class="fa fa-check"></i></span>
                </div>

                <span>Member since {{ profile.created.date }}</span>

                <div class="mt-3">
                    <p>{{ profile.user_type }} Account</p>
                    <h3>Credit Status : {{ balance }}$</h3>

                    {% if profile.user_type == 'BUYER' %}

                        <p>Expires On : {{ expiry.date }}</p>
                        <a href="{% url 'request_credit' %}" class="btn btn-outline-danger">Request Credit</a>

                    {% endif %}
                    {% if profile.user_type == 'SELLER' %}

                        <a href="{% url 'request_withdraw' %}" class="btn btn-outline-danger">Withdraw Credit</a>

                    {% endif %}

                </div>

            </div>
            {% if profile.user_type == "BUYER" %}
                <div>
                    <ul class="list-unstyled list">
                        <li>
                            <span class="font-weight-bold">Placed Bid</span>
                            <div>
                                <span class="mr-1">5</span>
                                <i class="fa "></i>
                            </div>
                        </li>

                        <li>
                            <span class="font-weight-bold">Won Auction</span>
                            <div>
                                <span class="mr-1">45</span>
                                <i class="fa "></i>
                            </div>
                        </li>

                        <li>
                            <span class="font-weight-bold">Penalty</span>
                            <div>
                                <span class="mr-1">15</span>
                                <i class="fa "></i>
                            </div>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div>
                    <ul class="list-unstyled list">
                        <li>
                            <span class="font-weight-bold">Total Products</span>
                            <div>
                                <span class="mr-1">5</span>
                                <i class="fa "></i>
                            </div>
                        </li>

                        <li>
                            <span class="font-weight-bold">Successful Auctions</span>
                            <div>
                                <span class="mr-1">45</span>
                                <i class="fa "></i>
                            </div>
                        </li>

                        <li>
                            <span class="font-weight-bold">Penalty</span>
                            <div>
                                <span class="mr-1">15</span>
                                <i class="fa "></i>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <a href="{% url 'update-profile' %}" class="btn btn-outline-primary"> Update Profile</a>


        </div>


    </div>


{% endblock %}