{% extends 'main.html' %}

{% block content %}
{% comment %} <form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Sign In">
</form>
<p>Don't have an account? <a href="{% url 'register-user'%}">Register Account</a></p>
<p><a href="{% url 'password_reset_request' %}">Forgot Password</a></p> {% endcomment %}


<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h1 class="card-title text-center">LOGIN</h1>
            <div class="card-text">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail">Username</label>
                        <input type="text" class="form-control form-control-sm" id="exampleInputUsername" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <a href="{% url 'password_reset_request' %}" style="float: right;font-size: 12px;">Forgot Password</a>
                        <input type="password" class="form-control form-control-sm" id="exampleInputPassword" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>

                    <div class="signup">Don't have an account? <a href="{% url 'register-user'%}">Create Account<a></div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}