{% extends 'main.html' %}

{% block content %}

<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container rounded bg-white mt-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="{{ profile.user_image.url }}" width="90"><span class="font-weight-bold">{{ profile.user.username }}</span><span class="text-black-50">{{ profile.user.email }}</span><span>{{ profile.location }}</span></div>
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                            <h6><a href="{% url 'home' %}">Back to home</a></h6>
                        </div>
                        <h6 class="text-right">Edit Profile</h6>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><input type="text" class="form-control" name="first_name" placeholder="first name" value="{{ profile.user.first_name }}"></div>
                        <div class="col-md-6"><input type="text" class="form-control" name="last_name" placeholder="last name" value="{{ profile.user.last_name }}" ></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" name="location" placeholder="Location" value="{{ profile.location}}"></div>
                        <div class="col-md-6"><input type="text" class="form-control" name="phone" placeholder="Phone number" value="{{ profile.phone }}"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Location" value="Upload Picture"></div>
                        <div class="col-md-6"><input type="file" class="form-control" name="user_image" ></div>
                    </div>

                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                </div>
            </div>
        </div>
    </div>

<form>
{% endblock %} 