<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Title</title>
</head>
<body>

    {% include 'navbar.html' %}

    <hr>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    <h1>This is  Main Page</h1>
    <h1>THIS IS ALSO HOME PAGE</h1>
    
    {% endblock content %}

    
    <footer>
        Here goes the footer
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>