<!--<ul>-->
<!--    <a href="{% url 'home' %}">Home</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'auction_products' %}">Live Auction</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'my_products' %}">My Products</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="">Latest Winner</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'add-product' %}">Add Product</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'products' %}">Upcoming Items</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="">About Us</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'profile' %}">Profile</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'register-user' %}">Register</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'update-profile' %}">Edit Profile</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'signin-user' %}">Sign In</a>&nbsp;&nbsp;&nbsp;-->
<!--    <a href="{% url 'logout-user' %}">Logout</a>&nbsp;&nbsp;&nbsp;-->
<!--</ul>-->
{% load static %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">OnlineAuction</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
<!--if a user is seller then this dropdown will be shown-->
        {% if request.user.profile.user_type == "SELLER" %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activities
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'my_products' %}">My Products</a></li>
            <li><a href="{% url 'add-product' %}">Add Product</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </li>
        {% elif request.user.profile.user_type == "BUYER" %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Activities
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'my_products' %}">My Products</a></li>
            <li><a href="{% url 'add-product' %}">Add Product</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </li>
        {% endif %}

      <li><a href="{% url 'auction_products' %}">Live Auction</a></li>
      <li><a href="{% url 'products' %}">Upcoming</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
<!--      if anyone is loggged in then these two will not be seen and logout page will face out-->
      {% if not request.user.is_authenticated %}
      <li><a href="{% url 'register-user' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'signin-user' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% else %}
      <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-profile"></span> Profile</a></li>
      <li><a href="{% url 'logout-user' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>