<ul>
    <a href="{% url 'home' %}">Home</a>&nbsp;&nbsp;&nbsp;
    <a href="">Live Auction</a>&nbsp;&nbsp;&nbsp;
    <a href="">My Products</a>&nbsp;&nbsp;&nbsp;
    <a href="">Latest Winner</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'add-product' %}">Add Product</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'products' %}">Auction Items</a>&nbsp;&nbsp;&nbsp;
    <a href="">About Us</a>&nbsp;&nbsp;&nbsp;
    <a href="">Profile</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'register-user' %}">Register</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'update-profile' %}">Edit Profile</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'signin-user' %}">Sign In</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'logout-user' %}">Logout</a>&nbsp;&nbsp;&nbsp;
</ul>