{% extends 'main.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <h1 style="text-align: center">Add Product Form</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Add" style="width: 100%" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>

{% endblock content %}