{% extends 'main.html' %}
{% load static %}
{% block content %}

<h1 style="text-align:center;">Auction Live Products</h1><hr>

<table class="table table-hover table-dark live_auction_table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Base Bid</th>
            <th scope="col">Maximum BId</th>
            <th scope="col">Image</th>
            <th scope="col">Expiry</th>
        </tr>
    </thead>
    <tbody>

        {% for item in items %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'auction_single_product' item.id %}">{{item.product.product_name}}</a></td>
            <td>{{item.product.category}}</td>
            <td>{{item.min_bid_price}}</td>
            <td>{{item.min_bid_price}}</td>
            <td><a href="{% url 'auction_single_product' item.id %}"> <img src="{{item.product.product_image.url}}" class="table_image"></a></td>
            <td>{{item.bid_expiry}}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}