{% extends 'main.html' %}

{% block content %}
    <h4 style="text-align: center">Your Feedback is always Important to us, Feel Free to share any problem with the
        Website.</h4>
    <form method="post" style="text-align: center">
        {% csrf_token %}
        <div class="mb-3" style="margin: 3px">
            <label for="exampleFormControlTextarea1" class="form-label" >Feedback Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="feedback_message"></textarea>
        </div>
        <div class="d-grip gap-2" style="text-align: center">
            <input type="submit" value="Submit Feedback" class="btn btn-primary">
        </div>


    </form>

{% endblock %}