{% extends 'main.html' %}

{% block content %}
    <h1 style="text-align: center">Auction Products</h1>
    <div style="margin:30px">
        <table class="table">
            <thead>
            <tr class="table-active">
                <th>Name</th>
                <th>Category</th>
                <th>Base Price</th>
                <th>Image</th>
                <th>Start Time</th>
                <th>Expiry Time</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr class="table-success">
                    <td><a href="{% url 'auction_single_product' item.id %}"
                           style="text-decoration: none">{{ item.product.product_name }}</a></td>
                    <td>{{ item.product.category }}</td>
                    <td>{{ item.min_bid_price }}</td>
                    <td><img src="{{ item.product.product_image.url }}" style="width: 30px; height: 30px;"></td>
                    <td>{{ item.bid_start.date }}</td>
                    <td>{{ item.bid_expiry.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>

    <h1 style="text-align: center">Pending Products</h1>
    <div style="margin:30px">
        <table class="table">
            <thead>
            <tr class="table-secondary">
                <th>Name</th>
                <th>Category</th>
                <th>Base Price</th>
                <th>Image</th>
                <th>Expected Start</th>
                <th>Expected Expiry</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pendingitems %}
                <tr class="table-primary">
                    <td><a href="{% url 'single-product' item.id %}"
                           style="text-decoration: none">{{ item.product_name }}</a></td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.proposed_minimum_price }}</td>
                    <td><img src="{{ item.product_image.url }}" style="width: 30px; height: 30px;"></td>
                    <td>{{ item.bid_start.date }}</td>
                    <td>{{ item.bid_expiry.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <h1 style="text-align: center">Auction Complete Products</h1>
    <div style="margin:30px">
        <table class="table">
            <thead>
            <tr class="table-active">
                <th>Name</th>
                <th>Category</th>
                <th>Base Price</th>
                <th>Image</th>
                <th>Winning Bid</th>
            </tr>
            </thead>
            <tbody>
            {% for item in completedAuction %}
                <tr class="table-danger">
                    <td><a href="{% url 'auction_single_product' item.id %}"
                           style="text-decoration: none">{{ item.product.product_name }}</a></td>
                    <td>{{ item.product.category }}</td>
                    <td>{{ item.product.proposed_minimum_price }}</td>
                    <td><img src="{{ item.product.product_image.url }}" style="width: 30px; height: 30px;"></td>
                    <td>{{ item.maximum_bid }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h1 style="text-align: center">Rejected Products</h1>
    <div style="margin:30px">
        <table class="table">
            <thead>
            <tr class="table-active">
                <th>Name</th>
                <th>Category</th>
                <th>Base Price</th>
                <th>Image</th>
                <th>Expected Start</th>
                <th>Expected Expiry</th>
            </tr>
            </thead>
            <tbody>
            {% for item in rejecteditems %}
                <tr class="table-danger">
                    <td><a href="{% url 'single-product' item.id %}"
                           style="text-decoration: none">{{ item.product_name }}</a></td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.proposed_minimum_price }}</td>
                    <td><img src="{{ item.product_image.url }}" style="width: 30px; height: 30px;"></td>
                    <td>{{ item.bid_start.date }}</td>
                    <td>{{ item.bid_expiry.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}