{% extends 'main.html' %}

{% block content %}
    {#    <h1>Single Product</h1>#}
    {#    <h3>{{ item.product_name }}</h3>#}
    {#    {% if item.product_image %}#}
    {#        <img src="{{ item.product_image.url }}">#}
    {#    {% endif %}#}
    {##}
    {#    <p>Product Description : {{ item.product_description }}</p>#}
    {#    <p>Varified Status : {{ item.is_verified }} </p>#}
    {#    <p>Minimum Proposed Price : {{ item.proposed_minimum_price }} </p>#}
    {#    <p>Proposed Start Time: {{ item.bid_start }} </p>#}
    {#    <p>Proposed End Time: {{ item.bid_expiry }} </p>#}
    {#    <p>is_online : {{ item.is_online }}</p>#}


    <div class="container card text-center" style="width:60%">
        <div class="card-header">
            Owner: <a href="{% url 'profile' item.user.id %}"
                      style="text-decoration: none">{{ item.user.username }} </a>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ item.product_name }}</h3>
            <p>Category : {{ item.category }}</p>
            {% if item.is_online %}
            <p>Status : online</p>
            {% elif item.is_rejected %}
            <p>Status : rejected</p>
            {% else %}
            <p>Status : upcoming</p>
            {% endif %}
            <img src="{{ item.product_image.url }}" style="width: 40%">
            <p class="card-text">{{ item.product_description }}</p>
            <p class="btn btn-danger">Base Price : {{ item.proposed_minimum_price }}</p>
        </div>

        <div class="card-footer text-muted">
            {{ item.bid_start }}
        </div>
        <p> TO </p>
        <div class="card-footer text-muted">
            {{ item.bid_expiry }}
        </div>
        <form method="POST" style="margin-top: 10px">
            {% csrf_token %}

            {% if request.user.id == item.user_id %}
                {% if upd %}
                    <a href="{% url 'product_update' item.id %}" class="btn btn-warning">Update</a>
                {% endif %}
                {% if dlt %}
                    <a href="{% url 'delete_product' item.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            {% endif %}
        </form>
    </div>

{#    <form method="POST">#}
{#        {% csrf_token %}#}
{##}
{#        {% if request.user.id == item.user_id %}#}
{#            {% if upd %}#}
{#                <a href="{% url 'product_update' item.id %}" class="btn btn-warning">Update</a>#}
{#            {% endif %}#}
{#            {% if dlt %}#}
{#                <a href="{% url 'delete_product' item.id %}" class="btn btn-danger">Delete</a>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    </form>#}

{% endblock content %}


